# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

# Flask
*.db
instance/
.env
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# gstack
.gstack/qa-reports/screenshots/

# Claude AI
.claude/

# Workbuddy AI
.workbuddy/

# Database files
*.db
